<div class="post"> 
    
    <h1> <%= @post.title%> </h1>

    <%show_author = can? :read, @clubhouse%>
    <% if show_author%>
        <h3> By <%= @author.username %> </h3>
    <% end %>
    
    <p class="body">
        <%= @post.body%>
    <p>
    <h2> Comments </h2>
    <%= render @post.comments, locals: {author: @author.username} %>
    
    <h2>Add a comment:</h2>
    <%= form_with model: [ @post, @post.comments.build ] do |form| %>
        <%= form.text_area :body %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <%= form.hidden_field :clubhouse_id, value: @clubhouse.id %>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
</div>